In [ ]:
import pandas as pd

In [ ]:
# Create dataframe
data = {'Company':['Google','Google','Microsoft','Microsoft','Facebook','Facebook'],
 'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
 'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

     Company   Person  Sales
0     Google      Sam    200
1     Google  Charlie    120
2  Microsoft      Amy    340
3  Microsoft  Vanessa    124
4   Facebook     Carl    243
5   Facebook    Sarah    350

In [ ]:
df.groupby('Company')

In [ ]:
by_comp = df.groupby('Company')

In [ ]:
by_comp.mean()

           Sales
Company
Facebook   296.5
Google     160.0
Microsoft  232.0

In [ ]:
df.groupby('Company').mean()

           Sales
Company
Facebook   296.5
Google     160.0
Microsoft  232.0

In [ ]:
by_comp.std()

                Sales
Company
Facebook    75.660426
Google      56.568542
Microsoft  152.735065

In [ ]:
by_comp.min()

            Person  Sales
Company
Facebook      Carl    243
Google     Charlie    120
Microsoft      Amy    124

In [ ]:
by_comp.max()

            Person  Sales
Company
Facebook     Sarah    350
Google         Sam    200
Microsoft  Vanessa    340

In [ ]:
by_comp.count()

           Person  Sales
Company
Facebook        2      2
Google          2      2
Microsoft       2      2

In [ ]:
by_comp.describe()

          Sales
          count   mean         std    min     25%    50%     75%    max
Company
Facebook    2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
Google      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
Microsoft   2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
by_comp.describe().transpose()

Company        Facebook      Google   Microsoft
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [ ]:
by_comp.describe().transpose()['Google']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: Google, dtype: float64